.back {
    background-color:rgb(199, 199, 222) ;
    color: rgb(66, 66, 66);
}

.title {
    text-align: center;
}

.title2 {
    text-align: center;
}

.corpus {
    padding: 5%;
    text-align: left;
}

.warning {
    color: orange;
    text-align: center;
    background-color: black;
}