.back {
    background-color:rgb(42, 42, 165) ;
    color: rgb(218, 218, 218);
    text-align: left;
}

.title {
    text-align: center;
}

.title2 {
    text-align: center;
}

.corpus {
    padding: 5%;
}

.warning {
    color: orange;
    text-align: center;
    background-color: black;
}